:root {
--primary:rgb(45, 7, 120);
--secondary:green;
--accent:lightgreen;
--background:lightblue;
}

.tiptop {
    background-color: var(--primary);
}

.tits {
    color: white;
    text-align: center;
}

.box {
    border: dotted gray;
    height: 250px;
}