:root {
--primary:rgb(45, 7, 120);
--secondary:green;
--accent:lightgreen;
--background:lightblue;
}

.tiptop {
    background-color: var(--primary);
}

.tits {
    color: white;
    text-align: center;
}

.card {
    border: dotted gray;
    height: 550px;
}

.box {
    border: dotted gray;
    height: 250px;
    background: beige;
}
.box2 {
    border: dotted gray;
    height: 250px;
    background: beige;
}

.indCard-1 {
    background-color: navy;
    height: 200px;
    width: 200px;
    color: white;
}